@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,800);

html, body{
    /* background-color: #FF895A; */
    /* background: -webkit-linear-gradient(to top left, #8A2387,#E94057,#F27121, white); */
    /* background-image: linear-gradient(to top left, #8A2387,#E94057,#F27121, white); */
    background-image: linear-gradient(to right, #12c2e9,#c471ed,#f64f59);
    /* background-image: linear-gradient(to right, #FC466B,#3F5EFB); */
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: navy;
    margin: 0;
    font-family: 'Raleway', Arial, sans-serif;
    overflow-x: hidden;
    /* overflow-y: hidden; */
}

* {box-sizing: border-box;}

.logoAndNavbar{
    position: fixed;
    background-color: rgba(224, 208, 236);
    min-width: 100%;
    content: "";
    min-height: 90px;
    display: inline-block;
    box-shadow: 3px 3px 3px rgba(0,0,0,0.5);
}

.logo_image{
    margin-left: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 200px;
    border-radius: 15px;
    display: inline-block;
    float: left;
}

.navbar{
    display: inline-block;
    vertical-align: bottom;
    float: right;
}

.nav{
    font: 400 100px/1.2 'Berkshire Swash', Helvetica, sans-serif;
    font-size: 1.3em;
    text-align: center;
    font-weight: 700;
}

.nav * {
    box-sizing: border-box;
}

.nav li{
    display: inline-block;
    list-style: outside none none;
    margin: 0 1.5em;
    padding: 0;
}

.nav a{
    color: rgb(69, 11, 87);
    padding: 0.5em 0;
    position: relative;
    letter-spacing: 1px;
    text-decoration: none;
}

.nav a:after {
    left: 0;
    top: 0;
    padding: 0.5em 0;
    position: absolute;
    content: attr(data-hover);
    color: #ffffff;
    white-space: nowrap;
    max-width: 0%;
    overflow: hidden;
}

.nav a:hover:after,
.nav .active a:after {
    max-width: 100%;
}

.naslov{
    margin-top: 120px;
}

.chat{
    width: 97%;
    height: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    background-color: rgb(0,0,0,0.5);
    border-radius: 10px 10px 0px 0px;
    padding: 10px;
    color: rgb(234, 210, 245);
    box-shadow: 4px 4px 3px rgba(0,0,0,0.2);
}

input[type=text]{
    width: 90%;
    /* height: 30px; */
    margin-left: 1.4%;
    margin-bottom: 20px;
    background-color: rgb(124, 208, 223);
    border-radius: 0px 0px 0px 10px;
    font-size: 1.2em;
    padding: 10px;
    box-shadow: 4px 4px 3px rgba(0,0,0,0.2);
}

button{
    width: 7%;
    font-size: 1.2em;
    padding: 10px;
    background: #4FD0FF;
    color: rgb(32, 11, 66);
    text-shadow: 4px 4px 3px rgba(0,0,0,0.2);
    cursor: pointer;
    outline: none;
    border-radius: 0px 0px 10px 0px;
    font-weight: 400;
    box-shadow: 4px 4px 3px rgba(0,0,0,0.2);
}

.kraj{
    position: fixed;
    right: 1.5%;
    top: 126px;
    color: white;
    background-color: #f64f59;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 5px solid;
    box-shadow: 5px 5px -3px 3px rgba(0,0,0,0.2);
    border-color: rgb(119, 36, 36, 0.3);
    padding: 5px;
}
