@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,800);

html, body{
    /* background-color: #FF895A; */
    /* background: -webkit-linear-gradient(to top left, #8A2387,#E94057,#F27121, white); */
    /* background-image: linear-gradient(to top left, #8A2387,#E94057,#F27121, white); */
    background-image: linear-gradient(to right, #12c2e9,#c471ed,#f64f59);
    /* background-image: linear-gradient(to right, #FC466B,#3F5EFB); */
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #4FD0FF;
    margin: 0;
    font-family: 'Raleway', Arial, sans-serif;
    /* overflow-x: hidden; */
    /* overflow-y: hidden; */
}

* {box-sizing: border-box;}

.logoAndNavbar{
    background-color: rgba(224, 208, 236, 0.5);
    min-width: 100%;
    content: "";
    min-height: 90px;
    display: inline-block;
    box-shadow: 3px 3px 3px rgba(0,0,0,0.5);
}

.logo_image{
    margin-left: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 200px;
    border-radius: 15px;
    display: inline-block;
    float: left;
}

.navbar{
    display: inline-block;
    vertical-align: bottom;
    float: right;
}

.nav{
    font: 400 100px/1.3 'Lobster Two', Helvetica, sans-serif;
    font-size: 1.3em;
    text-align: center;
    font-weight: 700;
}

.nav * {
    box-sizing: border-box;
}

.nav li{
    display: inline-block;
    list-style: outside none none;
    margin: 0 1.5em;
    padding: 0;
}

.nav a{
    color: rgb(69, 11, 87);
    padding: 0.5em 0;
    position: relative;
    letter-spacing: 1px;
    text-decoration: none;
}

.nav a:after {
    left: 0;
    top: 0;
    padding: 0.5em 0;
    position: absolute;
    content: attr(data-hover);
    color: #ffffff;
    white-space: nowrap;
    max-width: 0%;
    overflow: hidden;
}

.nav a:hover:after,
.nav .active a:after {
    max-width: 100%;
}

.container_success{
    position: relative;
    left: 50%;
    width: 650px;
    padding: 20px;
    /* height: 90px; */
    margin-top: 15px; /*1/2 visine*/
    margin-left: -325px; /*1/2 sirine*/
    border: 2px solid black;
    background-color: rgb(0,0,0,0.3);
    box-shadow: 5px 5px 4px rgba(0,0,0,0.5);
    font-family: 'Raleway', Arial, sans-serif;
    font-size: 2em;
    text-align: center;
    /* vertical-align: center; */
}

.osobni_podaci{
    font-size: 1.8em;
    color: navy;
    margin-left: 7%;
    font-weight: 500;
}

.moji_interesi{
    font-size: 1.8em;
    color: navy;
    margin-left: 24%;
    font-weight: 500;
}

.partnerovi_interesi{
    font-size: 1.8em;
    color: navy;
    margin-left: 7%;
    font-weight: 500;
}

.naglaseno{
    font-size: 1.8em;
    color: navy;
    /* font-weight: 500; */
}

.td_left{
    vertical-align: top;
}

td{
    /* width: 21%; */
    text-align: left;
    padding: 0px 15px;
}
table{
    margin-left: auto;
    margin-right: auto;
}

.container_left{
    float: left;
    display: inline-block;
    position: relative;
    padding-top: 20px;
    margin-left: 4%;
    /* margin-right: 35px; */
    margin-bottom: 50px;
    width: 30%;
    height: 600px;
    border: 5px groove rgb(85, 240, 214);
    background-color: rgb(0,0,0,0.5);
    box-shadow: 5px 5px 4px rgba(0,0,0,0.5);
    border-radius: 30px;
    font-size: 1.15em;
    text-align: center;
    vertical-align: middle;
}

.container_middle{
    float: left;
    display: inline-block;
    position: relative;
    padding-top: 20px;
    margin-left: 5%;
    margin-right: 4%;
    margin-bottom: 50px;
    width: 55%;
    height: 600px;
    border: 5px groove rgb(131, 64, 238);
    background-color: rgb(0,0,0,0.5);
    box-shadow: 5px 5px 4px rgba(0,0,0,0.5);
    border-radius: 30px;
    font-size: 1em;
    text-align: center;
    vertical-align: middle;
}

.container_right{
    float: left;
    display: inline-block;
    position: relative;
    padding-top: 20px;
    margin-left: 4%;
    /* margin-right: 35px; */
    margin-bottom: 100px;
    width: 90%;
    height: 750px;
    border: 5px groove rgb(218, 3, 128);
    background-color: rgb(0,0,0,0.5);
    box-shadow: 5px 5px 4px rgb(0,0,0,0.5);
    border-radius: 30px;
    font-size: 1.15em;
    text-align: center;
    vertical-align: middle;
}

button{
    display: inline-block;
    box-shadow: 5px 5px 4px rgba(0,0,0,0.5);
    background: #4FD0FF;
    position: relative;
    height: 50px;
    width: 200px;
    border: none;
    border-radius: 50%;
    color: rgb(32, 11, 66);
    font: 400 100px/1.3 'Lobster Two', Helvetica, sans-serif;
    font-size: 1.3em;
    text-shadow: 4px 4px 3px rgba(0,0,0,0.2);
    cursor: pointer;
    transition: 800ms ease all;
    outline: none;
    /* margin-bottom: 20px; */
}

input[type=text], input[type=password]{
    color: rgb(32, 11, 66);
    font-size: 0.8em;
    height: 28px;
    padding-left: 10px;
    text-decoration: none;
    background-color: rgb(119, 180, 177);
    background-repeat: repeat-x;
    border-radius: 5px;
    border: 1px solid rgb(32, 11, 66);
}

